* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.keyset {
  display: flex;
  gap: 25px;
}

.key {
  border: 1px solid black;
  height: 65px;
  width: 65px;
  transition: all .07s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.down {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}